$def with (key, products, stat, table_content, spell_check, sort_rule, facets, selected_facets, selected_facets_dict, recom_content)

$# selected_facets

<!DOCTYPE html>
<head>
	<title>Craigslist Price Recommendations</title>
	<link rel="stylesheet" type="text/css" href="static/index_style.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="static/nouislider.css">	
	<script src="static/jquery-3.3.1.min.js"></script>
	<script src="static/jquery.visible.js"></script>
	<script src="static/Chart.js"></script>
	<script src="static/bootstrap.js"></script>
	<script src="static/nouislider.js"></script>
	<script src="static/wNumb.js"></script>
</head>

<body>
	<div style="margin:auto; width:100vh">
		<h1 style="text-align:center">Craigslist Price Recommendations lalala</h1>
	</div>
	<br>

	<div style="margin:auto; height:10vh; width:60vh">
		<input placeholder="Start Searching" type="text" id="input" class="form-control" value="$key" style="text-align:center;font-size:25px"></input>
	</div>

	<div style="margin:auto;width:20vh">
		<button style="width:20vh" id="search" class="btn btn-primary">Search!</button>
	</div>
	<br>


	<br>
	<div class="card" style="margin:auto; width:130vh">
	  <div class="card-header">
	  	<h5 class="card-title">Search Statistics</h5>
	  </div>
	  <div class="card-body">
		<div class="container">
			$if 'max' in stat:
				<table class="table">
					<thead>
						<tr>
						<th># Total Results</th>
						<th>Min Price ($$)</th>
						<th>Max Price ($$)</th>
						<th>Average Price ($$)</th>
						<th>Time Taken (s)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> $stat['n'] </td>
							<td> $stat['min'] </td>
							<td> $stat['max'] </td>
							<td> $stat['average'] </td>
							<td> $stat['time'] </td>
						</tr>
					</tbody>
				</table>
			$else:
				<h5 class="card-title" style="text-align:center">Nothing Found</h5>
				$pass
		</div>
	  </div>
	</div>
	
	<br>
	<div class="card" style="margin:auto; width:130vh">
		<div class="card-header">
			<h5 class="card-title">Make Your Search Precise</h5>
		</div>
		<div class="card-body all-facet">
		
			$#
			$# Spell Check
			$#
			
			$if len(spell_check) > 0:
				<h4 class="card-title">Spell Check</h4> <br>
				$for i in range(len(spell_check)):
					<button type="button" class="btn btn-default spell-check" style="margin-left:2vh"><h6>$:spell_check[i]</h6></button>
				<br><hr>
			$else:
				$pass
			
			$#
			$# Facets
			$#
			
			<h4 class="card-title">Facets
			$for key in selected_facets_dict:
				<button type="button" class="btn btn-default btn-sm facets-rm" facets-class="$key">
					$key :  $selected_facets_dict[key]
					<img src="static/figs/x.svg" class="img-fluid" alt="Responsive image">
				</button>
				$pass
			<button type="button" class="btn btn-success clear-btn" style="height:4vh;margin-left:2vh" content="selected_facets">Clear</button> 				
			</h4> 
			$for item in facets:
				<div style="margin-left:5vh">
								
				$if len(item[1]["value"]) > 1:
					<h5 class="card-title">$:item[0]</h5>
					$for value in item[1]["value"]:
						<button type="button" class="btn btn-normal facet-filter" style="height:4vh;margin-left:2vh;margin-top:2vh" 
							facet-key="$:item[0]" facet-value="$:value[0]">$:value[0]</button>
						$pass
					$pass

				</div>
				<br>
				$pass
			<hr>
				
			
			$#
			$# Sort Method
			$#
			
			$if ('n' in stat) and (stat['n'] > 1):
				<h4 class="card-title">Sort by
					<button type="button" class="btn btn-success clear-btn" style="height:4vh;margin-left:2vh" content="sorting">Clear</button> 
				</h4> 
				<h5 class="card-title" style="margin-left:5vh">Rule
					<button type="button" class="btn btn-default sorting" style="margin-left:2vh" content="0">Relevance</button>
					<button type="button" class="btn btn-default sorting" style="margin-left:2vh" content="1">Price (Lowest First)</button>
					<button type="button" class="btn btn-default sorting" style="margin-left:2vh" content="2">Price (Highest First)</button>
					<button type="button" class="btn btn-default sorting" style="margin-left:2vh" content="3">Date (Latest First)</button>
					<button type="button" class="btn btn-default sorting" style="margin-left:2vh" content="4">Date (Earliest First)</button>
				</h5>
				<hr>
			$else:
				$pass
				
			$#
			$# Select Price Interval
			$#
			
			$if 'max' in stat:
				<h4 class="card-title">Price Interval 
					<button type="button" class="btn btn-success clear-btn" style="height:4vh;margin-left:2vh" content="price">Clear</button> 
				</h4>
				<div id="slider" style="margin:auto;width:50vh"></div> <hr>
			$else:
				$pass
				
			$#
			$# Upload Picture
			$#
			
			<h4 class="card-title">Upload Picture</h4> <br>
			<form id="uploadForm" enctype="multipart/form-data">
				<input id="file" type="file" name="file"/>
				<button id="upload" type="button">Upload</button>
			</form>

			
		</div>
	</div>


	<div class="chart-container" style="margin:auto; position:relative; height:75vh; width:130vh">
		<canvas id="myChart"></canvas>
	</div>
	
	<br>
	
	$if "n" in stat:
		<div id="result" class="container-fluid" style="margin:auto;width:160vh">
		$for i in range(len(products)):
			$if i % 3 == 0:
				<div class="row">
			$else:
				$pass
			<div class="col-md products" style="width:50vh;height:40vh" pid="$products[i]['pid']">
				<div class="card" style="margin:auto">
					<div class="card-header">
						<h4 class="card-title" style="text-align:left;position:absolute">
							<a href="$products[i]['url']" style="color:black">
								$products[i]["title"]
							</a>
						</h4>
						<h4 class="card-title" style="text-align:right;">
							$products[i]["price"] $$
						</h4>
					</div>
					<div class="card-body">
						<h5 class="card-title">$:products[i]["description"]</h5>
						<div style="height:20vh">
							<img src="$products[i]['img_url']" style="height:100%;width:auto">
						</div>
					</div>
				</div>
			</div>	
			$if i % 3 == 2:
				</div><br>
			$else:
				$pass
		$if len(products) % 3 != 0:
			</div>
		$else:
			$pass
		</div>	

	
	
	
	

	
	<script>
		var jq = jQuery.noConflict();
		jq(document).ready(function(){
			$if 'max' in stat:
				var slider = document.getElementById('slider');
				noUiSlider.create(slider, {
					start: [ $:stat['min'] , $:stat['max'] ],
					connect: true,
					tooltips: [wNumb({decimals:0}), wNumb({decimals:0})],
					range: {
						"min": $:stat['min'] - 1 ,
						"max": $:stat['max']
					},
					step: 1.0
				});
			$else:
				var slider = null;
				$pass
			
			
			// Sort Method
			var i, n_sort = jq(".sorting").length;
			for (i = 0; i < n_sort; i++) {
				if (i == $sort_rule) {
					jq(".sorting:eq(" + i.toString() + ")").toggleClass("btn-default");
					jq(".sorting:eq(" + i.toString() + ")").toggleClass("btn-info");
				}
			}
			
			
			function check_visible() {
				alert(jq("#result").visible(true));
			}
			
			jq("#test-btn").click(function() {
				alert(jq("#result").visible(true));
			});
			
			function gather_info() {
			
				var info = {
					"sorting": 0
				};
				var i;

				// Key Word
				
				info["search_text"] = jq("#input").val();
				
				// Sorting Rule
				
				for (i = 0; i < jq(".sorting").length; i++) {
					if (jq(".sorting:eq(" + i.toString() + ")").attr("class").indexOf("btn-info") >= 0) {
						info["sorting"] = i;
					}
				}
				
				// Price Interval
				
				if ( typeof slider === 'undefined' || slider === null ) {

				} else {
					info["price"] = slider.noUiSlider.get();
				}
				
				// Facet
				
				info["selected_facets"]='$:selected_facets';
				
				// for (i = 0; i < jq(".facet-filter").length; i++) {
				//	var obj = jq(".facet-filter:eq(" + i.toString() + ")";
				//	if obj.attr("class").indexOf("btn-info") >= 0) {
				//		var key = attr("facet-key");
				//		selected_facets[key] = obj.attr("facet-value");
				//	}
				//}
				
				
				return info;
			}
			

			
			// Search Button
			
			jq("#search").click(function() {
			
				var info = gather_info();
				var newForm = jq('<form>', {
					'action': 'http://localhost:8080/',
					'method': 'GET'
				});
				
				for (var key in info) {
					newForm.append(jq('<input>', {
						'name': key,
						'value': info[key],
						'type': 'hidden'
					}));
				}
				jq(document.body).append(newForm);
				newForm.submit();
			});
			
			// Select Spell Check
			
			jq(".spell-check").click(function() {
				var newForm = jq('<form>', {
					'action': 'http://localhost:8080/',
					'method': 'GET'
				}).append(jq('<input>', {
					'name': 'search_text',
					'value': this.textContent,
					'type': 'hidden'
				}));
				jq(document.body).append(newForm);
				newForm.submit();
			});
			
			// Select Sort Rule
			
			jq(".sorting").click(function() {
				var info = gather_info();
				var newForm = jq('<form>', {
					'action': 'http://localhost:8080/',
					'method': 'GET'
				});
				
				info["sorting"] = parseInt(jq(this).attr("content"));
				
				for (var key in info) {
					newForm.append(jq('<input>', {
						'name': key,
						'value': info[key],
						'type': 'hidden'
					}));
				}
				
				jq(document.body).append(newForm);
				newForm.submit();
			});
			
			// Clear Button
			
			jq(".clear-btn").click(function() {
				var info = gather_info();
				var newForm = jq('<form>', {
					'action': 'http://localhost:8080/',
					'method': 'GET'
				});
				
				for (var key in info) {
					if (key != jq(this).attr("content")) {
						newForm.append(jq('<input>', {
							'name': key,
							'value': info[key],
							'type': 'hidden'
						}));
					}
				}
				jq(document.body).append(newForm);
				newForm.submit();
			});
			
			// Facet
			
			jq(".facet-filter").click(function() {
				var info = gather_info();
				var newForm = jq('<form>', {
					'action': 'http://localhost:8080/',
					'method': 'GET'
				});
				
				var selected_facets = JSON.parse(info["selected_facets"]);
				var key = jq(this).attr("facet-key");
				selected_facets[key] = jq(this).attr("facet-value");
				
				info["selected_facets"] = JSON.stringify(selected_facets);
				
				for (var key in info) {
					if (key != jq(this).attr("content")) {
						newForm.append(jq('<input>', {
							'name': key,
							'value': info[key],
							'type': 'hidden'
						}));
					}
				}
				jq(document.body).append(newForm);
				newForm.submit();
			});
			
			
			// Collet User Data
			
			self.setInterval(function(){
				var pidList = [];
				for (var i=0; i<jq(".products").length; i++){
					var obj_prod = jq(".products:eq("+i.toString()+")");
					if (obj_prod.visible()){
						pidList.push(obj_prod.attr("pid"));
					}
				}
				var sendObj = pidList.toString();
				console.log(sendObj);
				jq.ajax({
				  type: "POST",
				  url: 'http://localhost:8080/',
				  data: sendObj,
				  dataType: "text"
				});
			}, 5000);
			
			
			
			
			jq(".facets-rm").click(function(){
				var info = gather_info();
				var newForm = jq('<form>', {
					'action': 'http://localhost:8080/',
					'method': 'GET'
				});
				
				var selected_facets = JSON.parse(info["selected_facets"]);
				var key = jq(this).attr("facets-class");
				delete selected_facets[key];
				
				info["selected_facets"] = JSON.stringify(selected_facets);
				delete info["price"];
				
				for (var key in info) {
					if (key != jq(this).attr("content")) {
						newForm.append(jq('<input>', {
							'name': key,
							'value': info[key],
							'type': 'hidden'
						}));
					}
				}
				jq(document.body).append(newForm);
				newForm.submit();
			});
			
			
		});
	</script>
	
	
	<script>
		$if 'max' in stat:
			var ctx = document.getElementById("myChart");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: $:table_content['labels'],
					datasets: [{
						label: '# of Products',
						data: $:table_content['data'],
						backgroundColor: [
						    //'rgba(255, 99, 132, 0.2)',
						    'rgba(54, 162, 235, 0.2)'
						    //'rgba(255, 206, 86, 0.2)',
						    //'rgba(75, 192, 192, 0.2)',
						    //'rgba(153, 102, 255, 0.2)',
						    //'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
						    //'rgba(255,99,132,1)',
						    'rgba(54, 162, 235, 1)'
						    //'rgba(255, 206, 86, 1)',
						    //'rgba(75, 192, 192, 1)',
						    //'rgba(153, 102, 255, 1)',
						    //'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						yAxes: [{
						    ticks: {
						        beginAtZero:true
						    }
						}]
					}
				}
			});
		$else:
			alert("No results!")
	</script>
	
	<script>
		jq("#upload").click(function(){
			jq.ajax({
				url: '/upload',
				type: 'POST',
				cache: false,
				data: new FormData(jq('#uploadForm')[0]),
				processData: false,
				contentType: false
			}).done(function(res) {
			}).fail(function(res) {});
		});
	</script>
</body>

