$def with (key, content, price_stat, table_content)

<!DOCTYPE html>
<head>
	<title>Search Engine Project</title>
	<link rel="stylesheet" type="text/css" href="static/index_style.css">
	<script src="static/jquery-3.3.1.min.js"></script>
	<script src="static/Chart.js"></script>
</head>

<body>
	<h1>Search Engine</h1>
	Search: <input type="text" id="input" value="$key"></input>

	<button id="search">Search!</button>
	<br>
	
	$if 'max' in price_stat:
		<ul>
			<li>Max: $price_stat['max']</li>
			<li>Min: $price_stat['min']</li>
			<li>Average: $price_stat['average']</li>
		</ul>
	$else:
		<p>Nothing Found</p>
	
	<div class="chart-container" style="position: relative; height:40vh; width:30vw">
		<canvas id="myChart"></canvas>
	</div>
	
	$:content
	<script>
		var jq = jQuery.noConflict();
		jq(document).ready(function(){
			jq("#search").click(function() {
				var newForm = jq('<form>', {
					'action': 'http://localhost:8080/',
					'method': 'GET'
				}).append(jq('<input>', {
					'name': 'search_text',
					'value': jq("#input").val(),
					'type': 'hidden'
				}));
				jq(document.body).append(newForm);
				newForm.submit();
			});
			
		});
	</script>
	
	
	<script>
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: $:table_content['labels'],
				datasets: [{
				    label: '# of Votes',
				    data: $:table_content['data'],
				    backgroundColor: [
				        'rgba(255, 99, 132, 0.2)',
				        'rgba(54, 162, 235, 0.2)',
				        'rgba(255, 206, 86, 0.2)',
				        'rgba(75, 192, 192, 0.2)',
				        'rgba(153, 102, 255, 0.2)',
				        'rgba(255, 159, 64, 0.2)'
				    ],
				    borderColor: [
				        'rgba(255,99,132,1)',
				        'rgba(54, 162, 235, 1)',
				        'rgba(255, 206, 86, 1)',
				        'rgba(75, 192, 192, 1)',
				        'rgba(153, 102, 255, 1)',
				        'rgba(255, 159, 64, 1)'
				    ],
				    borderWidth: 1
				}]
			},
			options: {
				scales: {
				    yAxes: [{
				        ticks: {
				            beginAtZero:true
				        }
				    }]
				}
			}
		});
	</script>
</body>

